.title{
	text-align: center;
}

.parent-panel {
	padding: 10px; 
}

.table-panel{
	display: table; 
	width: 100%; 
	height: 100%; 
}

.table-child{
	display: table-cell; 
	width: 50%; 
	height: 100%;
}

.save_btn {
	display: block;
  	margin: 0 0 0 auto;
}